.header {
    display: flex;

    & .header_nav {
        width: 100%;
        height: 200px;
        padding: 2rem;

        display: flex;

        align-items: center;
        justify-content: space-between;

        @include md-1000 {
            height: 400px;
            padding: 4rem;
        }
    }

    & .navbar {
        display: flex;

        font-family: $principalfont;
        color: $principalcolor;

        & img {
            width: 33%;
        }

        & .detalle {
            font-family: $decorativefont;
            color: $secundarycolor;
            font-size: 1.5rem;
            font-weight: 400;
        }

        & .offcanvas {
            font-family: $principalfont;
            color: $principalcolor;
            font-weight: 900;

            & .offcanvas-header {
                font-family: $principalfont;
                color: $principalcolor;

                & h5 {
                    margin-bottom: 0;
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: -5rem;
                }
            }

            & .offcanvas-body {
                font-family: $principalfont;
                color: $secundarycolor;
                font-weight: 600;

                & .nav-link.active {
                    color: $terciarycolor;
                    font-weight: 600;
                }

                & .nav-link {
                    font-family: $principalfont;
                    color: $secundarycolor;
                    font-weight: 600;
                }
            }

            & .nav-link:hover {
                color: $principalcolor;
            }
        }

        & .dropdown-menu {
            border: none;
            font-family: $principalfont;
            color: $secundarycolor;
            font-weight: 600;

            & hr {
                width: 90%;
                border: solid 2px;
                border-radius: 1rem;
                color: #554971;
            }

            & .dropdown-item {
                font-family: $principalfont;
                color: $terciarycolor;
                font-weight: 400;
            }

            & .dropdown-item:hover {
                color: $secundarycolor;
            }
        }

        & form {
            font-family: $principalfont;
            color: $principalcolor;
            font-weight: 600;

            & input {
                border-radius: 1rem 0 1rem 0;
            }

            & .form-control {
                font-style: italic;
                box-shadow: 1px 1px 2px #554971;
            }

            & .form-control:focus {
                cursor: text;

                outline: none;
                border: none;
                box-shadow: inset 1px 1px 5px #36213e;
            }

            & button {
                border: none;
                border-radius: 0 0.8rem 0 0.8rem;
                font-weight: 400;
                color: $supportcolor;
                box-shadow: 1px 1px 2px #554971;
                border-color: #554971;
            }

            & button:hover {
                font-weight: 600;
                color: $ultraligthcolor;
                background-color: #554971;
                box-shadow: inset 1px 1px 5px #36213e;
            }
        }
    }
}